doctype html
<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
html.no-js(lang='en')

  head
    title Flex Tools Docs
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")

    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css', rel='stylesheet')
    
    link(href='flex-tools.css', rel='stylesheet')
    link(href='docs.css', rel='stylesheet')

      
  body.docs


    .jumbotron

      h1 Flex Tools
      p Set of flexbox based layout class-helpers for HTML tags.


    
    h1 Initializing
    p #[code f-box] enables flexbox. Outer container works as block.
    p #[code f-align] enables flexbox. Outer container works as inline-block.



    h1 Aligning
    p #[code f-align--Y-X] controls the align element. #[code Y] controls aligning at the vertical axis. #[code X] - controls the horisontal one.
    p #[strong Example]
    .example.example--align
      p #[code f-align--]
        select.example__select
          each val in ['1-1', '1-2', '1-3', '2-1', '2-2', '2-3', '3-1', '3-2', '3-3', '1-13', '2-13', '3-13', '13-1', '13-2', '13-3', '13-13']
            option(value='#{val}')= val

      .example__list.f-box.f-align--1-1
        - i = 0
        while i < 3
          .f-box.f-align--2-2.example__unit This is aligning example
          - i ++



    h1 Filling
    p #[code f-fill] usefull when you need to fit all available space with some block. 
      | It can be applied both for horisontal and vertical layouts.
    p #[strong Example]
    .example.example--fill
      input.example__input(type="range", defaultValue="240", min="0", max="960", step="120")
      .example__list.f-box
        .example__unit.f-box.f-align--2-2.example__unit--sidebar Fixed sizes sidebar
        .example__unit.f-box.f-align--2-2.f-fill This block fill all available space



    h1 Grid
    p #[code f-grid--N] - where #[code N] equal of base columns amount
    p Grid controlled by settings values: 
    p #[code $grid-gutter] - gutter between columns
    p #[code $grid-columns] - set column counts
    p By default we have 10px gutter and 12 column. Enjoy!
    p #[strong Example]
    .example.example--grid
      .example__list
        mixin grid(i, max)
          while i < max
            .f-box.f-gap--L
              .f-box.f-align--2-2.f-gutter.example__unit(class='f-grid--'+i) Grid #{i}
              .f-box.f-align--2-2.f-gutter.example__unit(class='f-grid--'+(max - i)) Grid #{max - i}
            - i ++
        +grid(1,12)



    h1 Gap
    p You can control gutters inside flexbox container. You can chose from one of 3 different gaps:
    ul
      li Small 
      li Middle
      li Large
    p Gaps worked with grid or any other columns, even outside from flex container.
    p Pay attention, that gaps realized as margins, so you don't need to blame your code with wrappers, as in padding-based grid systems.
    p #[strong Example]
    .example.example--gap
      p #[code f-gap--]
        select.example__select
          each val in ['S', 'M', 'L']
            option(value='#{val}')= val

      .example__list.f-box.f-gap--S
        - i = 1
        while i <= 3
          .f-box.f-grid--4.f-align--2-2.example__unit Column 1/3
          - i++
      .example__list.f-box.f-gap--S
        - i = 1
        while i <= 6
          .f-box.f-grid--2.f-align--2-2.example__unit Column 1/6
          - i++


    h1 Direction
    p #[code f-dir--N] allows you to change direction of children elements inside box.
    p #[strong Example]
      .example.example--dir
        p #[code f-dir--]
          select.example__select
            each val in ['row', 'col', 'row-rvs', 'col-rvs']
              option(value='#{val}')= val

        .example__list.f-box
          - i = 1
          while i <= 3
            .f-box.f-align--2-2.example__unit Box #{i}
            - i ++


    h1 Options
    p #[code f-option--nogap] - disable gaps for current item.



    h1 Complex demo layout
    p Use tools like #[b Firebug] or #[b Chrome Developers Console] to inspect markup.
    h4 Layout with fluid central column and sidebars with equal height
    .f-box.f-align--13-1.f-gap--L.demo
      .f-grid--3.demo__unit Sidebar
      .f-fill.demo__unit 
        h4 Main column
        p Competently morph resource-leveling infomediaries without ubiquitous initiatives. Collaboratively maximize cooperative users with bricks-and-clicks services. Dynamically myocardinate prospective infomediaries through interdependent customer service. Monotonectally re-engineer reliable content vis-a-vis multidisciplinary total linkage. Objectively predominate highly efficient solutions for focused alignments.
        p Credibly cultivate impactful convergence rather than high standards in human capital. Rapidiously evisculate backward-compatible niches before highly efficient.
      .f-grid--3.demo__unit Sidebar

    h4 More complicated layout
    .f-box.f-align--13-1.f-gap--M.demo
      .f-box.f-dir--col.f-grid--2.demo__unit
        h5 Sidebar
        .f-fill.f-box.f-align--2-2.demo__unit Some content. Fill all available space
      .f-fill.demo__unit 
        h4 Main column
        p Competently morph resource-leveling infomediaries without ubiquitous initiatives. Collaboratively maximize cooperative users with bricks-and-clicks services. Dynamically myocardinate prospective infomediaries through interdependent customer service. Monotonectally re-engineer reliable content vis-a-vis multidisciplinary total linkage. Objectively predominate highly efficient solutions for focused alignments.
        p Credibly cultivate impactful convergence rather than high standards in human capital. Rapidiously evisculate backward-compatible niches before highly efficient.
      .f-box.f-dir--col.f-grid--4.demo__unit
        .f-fill.f-box.f-align--2-2.demo__unit Some content. Fill all available space
        h5 Sidebar

    h4 Gallery
    .f-box.f-align--2-2.f-gap--M.f-option--wrap.f-option--nogap.demo.demo--gallery
      - i = 0
      while i < 11
        .f-box.f-grid--3.f-align--2-2.demo__unit Gallery unit
        - i++



    h1 Limitations 
    p Requre #[a(href="http://caniuse.com/#search=flexbox") flexbox] and #[a(href="http://caniuse.com/#search=calc") calc] support.
    p Keep in mind, that current Flexbox implementation has lots of caveats and bugs. Especially in IE.
    p Perfect for 
    ul
      li Sketches and prototypes
      li Admin or developer panels
      li Projects on Edge
    p Don't recommend for:
    ul
      li Support for IE 9 and lower
      li If you don't want to handle Flexbox bugs


    h1 Usefull links
    ul
      li Detailed #[a(href='https://github.com/philipwalton/flexbugs') Flexbox Cheatsheet]
      li Most of flexbox bugs described at Philip Walton's #[a(href='https://github.com/philipwalton/flexbugs') FlexBugs project.]

    h1 TODO
    ul
      li Generate code with custom parameters
      li Generate with modernizr support
      li Custom layout interactive builder
      li More detailed docs :)







    
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src="docs.js")